:root {
  // custom font-family.
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  // custom font-weight.
  --fw-400: 400;
  --fw-600: 600;

  // custom-color
  --color-primary: 257, 40%, 49%;
  --color-secondary: 300, 69%, 71%;
  --color-neutral: 0, 0%, 100%;
}
